*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
header{
    background-color:#FFFFFF;
     
       
}

.container{
    width: 100%;
    max-width: 1600px;
    margin: auto;

}
nav img{
    background: none;
}

.btn{
    border: none;
    border-radius: 4px;
    border-radius: 4px;
    background:  rgba(70, 145, 101, 1);
    padding: 12px 16px 12px 16px;
    font-size: 16px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 16px 120px;
    align-items: center;
}

.menu{
    display: flex;
    gap: 32px;
    list-style: none;
}
.menu a {
    text-decoration: none;

}